*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.page-header {
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  display: flex;
}

.header__container {
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.nav-logo .logo-span {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list__list-item:nth-of-type(1) .link {
  position: relative;
  color: #404bbf;
}

.nav-list__list-item:nth-of-type(1) .link::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-list__list-item .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__list-item .link:hover,
.nav-list__list-item .link:focus {
  color: #404bbf;
}

.contact {
  font-style: normal;
  display: flex;
  margin-left: auto;
}

.contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.contact .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .link:hover,
.contact .link:focus {
  color: #404bbf;
}

.first-section {
  max-width: 1440px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 188px 0;

  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/peoplebg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.first-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.first-section__title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.first-section__btn {
  display: block;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-section__btn:hover,
.first-section__btn:focus {
  background-color: #404bbf;
}

.second-section {
  padding: 120px 0;
}

.second-section__list {
  display: flex;
  gap: 24px;
}

.second-section__list-item {
  width: calc((100% - 72px) / 4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.second-section__list-title {
  width: 288px;
  height: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.second-section .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.second-section__list-item .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
}

.third-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.third-section__title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.third-section__list {
  display: flex;
  gap: 24px;
}

.third-section__list > .list-item {
  width: calc((100% - 72px) / 4);
  flex-basis: calc((100% - 72px) / 4);
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.third-section .social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 16px;
}

.third-section .social-list .list-item {
  width: 40px;
  height: 40px;
}

.third-section .social-list .list-item .social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #f4f4fd;
}

.third-section .social-list .list-item .social-link:hover,
.third-section .social-list .list-item .social-link:focus {
  background-color: #404bbf;
}

.list-item__container {
  padding: 32px 0;
}

.third-section__list .member-name {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.third-section__list .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.forth-section {
  padding: 120px 0;
}

.forth-section__title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.forth-section__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.forth-section__list .list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.forth-section__list .list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.forth-section__list .list-item .img-container {
  width: 360px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.forth-section__list .list-item .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.forth-section__list .list-item .img-container .img-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.forth-section__list .list-item:hover .img-container .img-text {
  transform: translateY(0);
}

.forth-section_list-item-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.forth-section .list-item__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.list-item .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .logo-span {
  color: #f4f4fd;
}

.footer .text {
  max-width: 264px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .subcontainer {
  margin-right: 120px;
}

.footer .social-container .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer .social-container .social-list {
  display: flex;
  gap: 16px;
}

.footer .social-container .social-list .list-item {
  width: 40px;
  height: 40px;
}
.footer .social-container .social-list .list-item .social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-container .social-list .list-item .social-link:hover,
.footer .social-container .social-list .list-item .social-link:focus {
  background-color: #31d0aa;
}

.footer .subscribe-container {
  margin-left: 60px;
}
.footer .subscribe-container .text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer .subscribe-container .subscribe-form {
  display: flex;
  gap: 24px;
}
.subscribe-container .subscribe-form .subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.subscribe-container .subscribe-form .subscribe-input::placeholder {
  color: #ffffff;
}
.subscribe-container .subscribe-form .form-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-container .subscribe-form .form-btn .send-icon {
  margin-left: 16px;
}

/* Modal Window Styles */
.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}

.modal-container-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-btn {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 16px auto;
  padding: 0;
  font-size: 16px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-btn:hover {
  background-color: #404bbf;
  fill: #ffffff;
}
.close-modal-btn:focus {
  border: none;
  fill: #ffffff;
}

/* SVG Styles */
.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 16px;
}

.modal-message-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

/* Form Group Styles */
.form-group {
  margin-bottom: 8px;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-container {
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  border-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #4d5ae5;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 8px 32px 8px 8px;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
  position: absolute;
  right: 8px;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #4d5ae5;
}

.form-input:focus {
  fill: #404bbf;
  border-color: #4d5ae5;
}
.input-icon:focus {
  fill: #4d5ae5;
}
/* Textarea Stilleri */
.text-area_class,
.form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area_class:focus,
.form-textarea:focus {
  border-color: #4d5ae5;
}

/* Checkbox Wrapper */
.checkbox-wrapper {
  margin-bottom: 24px;
}

.checkbox-input.visually-hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
/* Seçili Checkbox İçin Span Stilleri */
input.checkbox-input:checked + span.checkbox-icon {
  background-color: #404bbf; /* Arka plan rengi */
  border: none; /* Kenarlık kaldırılır */
}

/* Seçili Checkbox İçin SVG Stilleri */
input.checkbox-input:checked + span.checkbox-icon svg {
  fill: #f4f4fd; /* SVG dolgu rengi */
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  border: none;
  fill: #f4f4fd;
}

.checkbox-icon {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .checkbox-label .checkbox-icon {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

/* Privacy Link */
.privacy-link {
  color: #4d5ae5;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Button Stilleri */
.submit-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover {
  background-color: #404bbf;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .third-section__list {
    display: flex;
    flex-direction: column;
  }
  .third-section__list .list-item {
    width: 264px;
  }
}
/* Ortak stil */
body {
  font-family: Arial, sans-serif;
  color: #333;
}
.modal {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.is-open {
  display: block;
}
.modal-window {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
  display: none;
}

.is-open {
  display: block;
}

.modal-container {
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.close-modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container .close-modal-btn:hover,
.modal-container .close-modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #e7e9fc;
}

.modal-container .close-modal-btn .modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-btn:focus + .close-modal-btn .modal-icon {
  fill: #ffffff;
}

.close-modal-btn:hover + .close-modal-btn .modal-icon {
  fill: #ffffff;
}

.modal-container-wrapper .modal-message-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-container-wrapper.modal-form {
  width: 100%;
  margin-bottom: 8px;
}

.modal-container-wrapper .modal-form-item {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-container-wrapper .modal-form .input-container {
  position: relative;
}

.modal-form .form-input .form-group {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form .form-input:hover,
.modal-form .form-input:focus {
  border-color: #4d5ae5;
}

.modal-form .input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover + .input-icon,
.form-input:focus + .input-icon {
  fill: #4d5ae5;
}

.modal-container-wrapper .form-label {
  margin-bottom: 16px;
}

.form-label .form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form .form-label .form-textarea:focus {
  border-color: #4d5ae5;
}

.modal-container .checkbox-wrapper {
  margin-bottom: 24px;
}

.checkbox-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.privacy-link {
  color: #4d5ae5;
}
.submit-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}
.checkbox-input visually-hidden:checked + .checkbox-label .checkbox-icon {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
/* Mobil cihazlar */
@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .first-section .container {
    width: 100%;
  }

  body {
    font-size: 14px;
    width: 100%;
  }
  .contact {
    margin-left: 0;
  }
  .contact-list {
    display: none;
  }
  .header__container {
    width: 100%;
  }
  .nav-logo {
    display: flex;
    justify-content: space-between;
    margin-left: 270px;
  }
  .nav-logo .logo-span {
    margin-bottom: 30px;
  }
  /* SECOND SECTION */
  .second-section .second-section__list {
    justify-content: center;
    flex-direction: column;
    gap: 72px;
    align-items: center;
  }
  .second-section
    .container
    .second-section__list
    .second-section__list-item.icon-container {
    display: none;
  }
  .second-section__list-title {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .second-section__list-item {
    width: 288px;
    justify-content: center;
    align-items: center;
  }

  .icon-container {
    visibility: hidden;
  }
  /* THIRD SECTION */
  .third-section .container {
    padding: 0 28px;
  }
  .third-section__list {
    justify-content: center;
  }
  .third-section .third-section__list .list-item {
  }
  /* FOURTH SECTION */
  .forth-section .container {
    padding: 0 16px;
  }
  .forth-section .fourth-section__list {
    justify-content: center;
    gap: 72px;
    flex-direction: column;
  }
  .forth-section .forth-section__list .list-item {
    min-width: 100%;
  }
  .forth-section .forth-section__list .list-item .img-container {
    width: 100%;
  }

  /* FOOTER SECTION */
  .footer .container {
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 72px;
    padding: 0 16px;
  }
  .footer.container .subcontainer .footer-logo {
    margin: 0 0 17.5px 0;
  }
  .social-container.text {
    flex-direction: column;
    align-items: center;
    display: flex;
  }
  .social-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 72px 0;
  }
  .footer .container .subscribe-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    min-width: 100%;
  }
  .footer .container .subscribe-container .text {
    margin: 0;
  }
  .footer .container .subscribe-container .subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .subscribe-container {
    padding: 96px 16px;
  }
  .page-header .header__container {
    display: block;
    width: 24px;
    height: 24px;
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .page-header {
    position: static;
    top: 0;
    left: 0;
    background-color: #f4f4fd;
    width: 100%;
    box-sizing: border-box;
  }
  /* HAMBURGER MENU */
  .hamburger-btn {
    display: block;
  }
}
/* MODAL SMALL */
@media (max-width: 408px) {
  .modal-window {
    width: 100%;
  }
}

/* Tabletler ve üzeri */
@media (min-width: 768px) and (max-width: 1157px) {
  body {
    font-size: 16px;
  }
}

/* Büyük ekranlar ve üzeri */
@media (min-width: 1158px) {
  body {
    font-size: 18px;
  }
  .first-section .container {
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .modal {
    background-image: url(../images/peoplebg.jpg); /* Retina */
  }
}
#mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Menü arka planı */
  display: none; /* Menü başlangıçta gizli */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Üstte görünmesi için */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#mobile-menu.is-open {
  display: flex; /* Görünür hale geldiğinde menü düzeni */
  opacity: 1;
  transform: translateY(0);
}
.nav-list a {
  color: white; /* Yazı rengini beyaz yap */
  text-decoration: none; /* Alt çizgiyi kaldır */
  font-size: 24px; /* Yazı boyutunu büyüt */
  font-weight: bold; /* Yazıyı kalın yap */
  transition: color 0.3s ease; /* Renk değişiminde geçiş animasyonu ekle */
}

.nav-list a:hover {
  color: #ffcc00; /* Üzerine gelince renk değişimi */
}

/* Gizli Checkbox */
.menu-checkbox {
  display: none; /* Checkbox görünmez */
}
/* Checkbox İşaretlendiğinde Menü Görünsün */
.menu-checkbox:checked ~ .mobile-menu {
  opacity: 1; /* Görünür yap */
  transform: translateY(0); /* Normal konuma getir */
  pointer-events: all; /* Tıklanabilir */
}
/* Checkbox İşaretlendiğinde Üç Çizgi Butonu Dönüşsün */
.menu-checkbox:checked ~ .menu-button .menu-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-checkbox:checked ~ .menu-button .menu-line:nth-child(2) {
  opacity: 0; /* Ortadaki çizgiyi gizle */
}
.menu-checkbox:checked ~ .menu-button .menu-line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
.menu-line {
  width: 100%;
  height: 4px;
  background-color: #333; /* Çizgi rengi */
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
/* Nav Listesi */
#mobile-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#mobile-menu {
  margin: 16px 0;
}

#mobile-menu {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  transition: color 0.3s;
}

#mobile-menu a:hover {
  color: #ffcc00; /* Öne çıkar */
}
.menu-button {
  position: relative;
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1100; /* Menünün üstünde olsun */
  margin-left: 310px;
  margin-top: 15px;
}
